@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* font-family: 'DM Sans', sans-serif; */
*{
  padding: 0;
  margin: 0;
}

main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #D6BCFF;
}

main>h2{
  position: relative;
  top: -4rem;
}

.entire-container{
  width: 818px;
  height: 428px;
  background-color: white;
}